/* Control panel */
.control-panel{
  margin: 4em 0;
  position: relative;
}

.control-panel h1{
  margin: 2em;
}

.control-panel .card{
  box-shadow: 0 0 20px #ccc;
  margin: 0 0 2em;
}

.control-panel .card-body{
  padding: 1em;
}

.control-panel .card .card-footer .description{
  font-size: 0.7em;
  margin: 1em 0 0;
}
